/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build.gradle
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/course-info.yaml
/course-remote-info.yaml
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1.1/executionHistory/executionHistory.lock
/.idea/.gitignore
/.idea/externalDependencies.xml
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.1.1/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/7.1.1/dependencies-accessors/gc.properties
/.gradle/7.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__com_beust_jcommander_1_78.xml
/.idea/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_11_1.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_3_9_2.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_junit_3_9_2.xml
/.idea/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.idea/modules/JSON_Database.iml
/.idea/modules/JSON Database/task/JSON_Database.JSON_Database-task.iml
/.idea/modules/JSON Database/task/JSON_Database.JSON_Database-task.main.iml
/.idea/modules/JSON Database/task/JSON_Database.JSON_Database-task.test.iml
/.idea/modules/util/JSON_Database.util.main.iml
/.idea/modules/util/JSON_Database.util.iml
/.gradle/7.1.1/fileChanges/last-build.bin
/.gradle/7.1/fileChanges/last-build.bin
/JSON Database/task/test/JsonDatabaseTest.java
/JSON Database/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/JSON Database/task/src/client/Main.java
/.idea/modules/util/JSON_Database.util.test.iml
/.idea/runConfigurations.xml
/.idea/frameworkLessonHistory/storage.storageData
/JSON Database/Network connection/task.html
/.idea/misc.xml
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/.idea/modules.xml
/JSON Database/100-cell database/task.html
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/JSON Database/Complex keys/task.html
/JSON Database/Hello, JSON/task.html
/JSON Database/Multithreaded server/task.html
/JSON Database/Simple online database/task.html
/JSON Database/Complex keys/task-info.yaml
/JSON Database/100-cell database/task-info.yaml
/JSON Database/Hello, JSON/task-info.yaml
/JSON Database/Simple online database/task-info.yaml
/JSON Database/Multithreaded server/task-info.yaml
/JSON Database/Network connection/task-info.yaml
/JSON Database/Hello, JSON/task-remote-info.yaml
/JSON Database/Multithreaded server/task-remote-info.yaml
/JSON Database/Simple online database/task-remote-info.yaml
/JSON Database/Complex keys/task-remote-info.yaml
/JSON Database/Network connection/task-remote-info.yaml
/JSON Database/100-cell database/task-remote-info.yaml
/.idea/vcs.xml
/JSON Database/task/out/production/classes/server/Arraycreator.class
/.gradle/7.1.1/executionHistory/executionHistory.bin
/.gradle/7.1.1/fileHashes/fileHashes.bin
/JSON Database/task/out/production/classes/client/Main.class
/JSON Database/task/out/production/classes/server/Main.class
/.gradle/buildOutputCleanup/outputFiles.bin
/JSON Database/task/out/production/classes/client/StatusGetter.class
/.idea/uiDesigner.xml
/JSON Database/task/out/production/classes/server/methods/ArrayCleaner.class
/JSON Database/task/out/production/classes/server/array/ArrayController.class
/JSON Database/task/out/production/classes/server/methods/ArrayGetter.class
/JSON Database/task/out/production/classes/server/methods/ArraySetter.class
/JSON Database/task/out/production/classes/server/request/ClientDataAnalyzer.class
/JSON Database/task/out/production/classes/server/request/RequestAnalyzer.class
/JSON Database/task/build/classes/java/main/server/methods/ArrayCleaner.class
/JSON Database/task/build/classes/java/test/ArrayCleanerTest.class
/JSON Database/task/build/reports/tests/test/classes/ArrayCleanerTest.html
/JSON Database/task/build/classes/java/main/server/array/ArrayController.class
/JSON Database/task/build/classes/java/main/server/methods/ArrayGetter.class
/JSON Database/task/build/classes/java/test/ArrayGetterTest.class
/JSON Database/task/build/classes/java/main/server/methods/ArraySetter.class
/JSON Database/task/build/classes/java/test/ArraySetterTest.class
/JSON Database/task/build/reports/tests/test/css/base-style.css
/JSON Database/task/build/classes/java/main/server/request/ClientDataAnalyzer.class
/JSON Database/task/build/reports/tests/test/packages/default-package.html
/JSON Database/task/build/reports/tests/test/index.html
/JSON Database/task/build/tmp/test/jar_extract_1425490259335349995_tmp
/JSON Database/task/build/tmp/test/jar_extract_3956361283713092255_tmp
/JSON Database/task/build/tmp/test/jar_extract_4009174457725763368_tmp
/JSON Database/task/build/tmp/test/jar_extract_4308321973379244027_tmp
/JSON Database/task/build/tmp/test/jar_extract_7782921558087901017_tmp
/JSON Database/task/build/tmp/test/jar_extract_9361564828179808630_tmp
/JSON Database/task/build/tmp/test/jar_extract_11137505873220309221_tmp
/JSON Database/task/build/tmp/test/jar_extract_12717917163989484454_tmp
/JSON Database/task/build/tmp/test/jar_extract_14122716729866650526_tmp
/JSON Database/task/build/tmp/test/jar_extract_15286972759389932618_tmp
/JSON Database/task/build/tmp/test/jar_extract_18013722749703099108_tmp
/JSON Database/task/build/classes/java/test/JsonDatabaseTest.class
/JSON Database/task/build/classes/java/main/client/Main.class
/JSON Database/task/build/classes/java/main/server/Main.class
/JSON Database/task/build/test-results/test/binary/output.bin
/JSON Database/task/build/test-results/test/binary/output.bin.idx
/JSON Database/task/build/tmp/compileJava/previous-compilation-data.bin
/JSON Database/task/build/tmp/compileTestJava/previous-compilation-data.bin
/JSON Database/task/build/reports/tests/test/js/report.js
/JSON Database/task/build/classes/java/main/server/request/RequestAnalyzer.class
/.gradle/7.1.1/fileHashes/resourceHashesCache.bin
/JSON Database/task/build/test-results/test/binary/results.bin
/JSON Database/task/build/classes/java/main/client/StatusGetter.class
/JSON Database/task/build/reports/tests/test/css/style.css
/JSON Database/task/build/test-results/test/TEST-ArrayCleanerTest.xml
/JSON Database/task/build/classes/java/test/ArrayControllerTest.class
/JSON Database/task/build/reports/tests/test/classes/ArrayControllerTest.html
/JSON Database/task/build/tmp/test/jar_extract_7097758788981453731_tmp
/JSON Database/task/build/tmp/test/jar_extract_10731455533573195773_tmp
/JSON Database/task/build/test-results/test/TEST-ArrayControllerTest.xml
/JSON Database/task/build/classes/java/test/ClientDataAnalyzerTest.class
/JSON Database/task/build/reports/tests/test/classes/ClientDataAnalyzerTest.html
/JSON Database/task/build/tmp/test/jar_extract_174693521355889630_tmp
/JSON Database/task/build/tmp/test/jar_extract_350349540767723217_tmp
/JSON Database/task/build/tmp/test/jar_extract_663411716372807266_tmp
/JSON Database/task/build/tmp/test/jar_extract_980021792047191621_tmp
/JSON Database/task/build/tmp/test/jar_extract_2700697849917531427_tmp
/JSON Database/task/build/tmp/test/jar_extract_2770052908847270189_tmp
/JSON Database/task/build/tmp/test/jar_extract_3018883488629357774_tmp
/JSON Database/task/build/tmp/test/jar_extract_3566424062564667435_tmp
/JSON Database/task/build/tmp/test/jar_extract_4039034890230983295_tmp
/JSON Database/task/build/tmp/test/jar_extract_4636036993474875922_tmp
/JSON Database/task/build/tmp/test/jar_extract_4752793577676631346_tmp
/JSON Database/task/build/tmp/test/jar_extract_6170382871033510642_tmp
/JSON Database/task/build/tmp/test/jar_extract_6185400810801071828_tmp
/JSON Database/task/build/tmp/test/jar_extract_6364012454002319645_tmp
/JSON Database/task/build/tmp/test/jar_extract_8054123334970407856_tmp
/JSON Database/task/build/tmp/test/jar_extract_8312821396323592709_tmp
/JSON Database/task/build/tmp/test/jar_extract_8682587314823771110_tmp
/JSON Database/task/build/tmp/test/jar_extract_8821021882933538534_tmp
/JSON Database/task/build/tmp/test/jar_extract_9687336237159687642_tmp
/JSON Database/task/build/tmp/test/jar_extract_10017575703530189485_tmp
/JSON Database/task/build/tmp/test/jar_extract_11269436569252553534_tmp
/JSON Database/task/build/tmp/test/jar_extract_12143789212994130596_tmp
/JSON Database/task/build/tmp/test/jar_extract_13784160632540237406_tmp
/JSON Database/task/build/tmp/test/jar_extract_14636406655851941469_tmp
/JSON Database/task/build/tmp/test/jar_extract_15132825835509262230_tmp
/JSON Database/task/build/tmp/test/jar_extract_15840470151504450687_tmp
/JSON Database/task/build/tmp/test/jar_extract_16716237377796561977_tmp
/JSON Database/task/build/tmp/test/jar_extract_17823850914580498151_tmp
/JSON Database/task/build/test-results/test/TEST-ClientDataAnalyzerTest.xml
/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_4_26.xml
/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_agent_1_4_26.xml
/.idea/libraries/Gradle__org_mockito_mockito_core_2_1_0.xml
/.idea/libraries/Gradle__org_objenesis_objenesis_2_4.xml
/JSON Database/task/build/tmp/test/jar_extract_6092014927729766313_tmp
/JSON Database/task/build/tmp/test/jar_extract_6210172143368075532_tmp
/JSON Database/task/build/tmp/test/jar_extract_6324655517430764159_tmp
/JSON Database/task/build/tmp/test/jar_extract_7575361689549018422_tmp
/JSON Database/task/build/tmp/test/jar_extract_8664622861270643104_tmp
/JSON Database/task/build/tmp/test/jar_extract_8686616426981303675_tmp
/JSON Database/task/build/tmp/test/jar_extract_8768708728442461977_tmp
/JSON Database/task/build/tmp/test/jar_extract_10762584705896616676_tmp
/JSON Database/task/build/tmp/test/jar_extract_11428057432332759851_tmp
/JSON Database/task/build/tmp/test/jar_extract_12697988343044076547_tmp
/JSON Database/task/build/tmp/test/jar_extract_14886798279908701778_tmp
/JSON Database/task/build/tmp/test/jar_extract_16037350065982800671_tmp
/JSON Database/task/build/tmp/test/jar_extract_17852787796555012090_tmp
/JSON Database/task/build/classes/java/test/RequestAnalyzerTest.class
/JSON Database/task/build/reports/tests/test/classes/RequestAnalyzerTest.html
/JSON Database/task/build/test-results/test/TEST-RequestAnalyzerTest.xml
