/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build.gradle
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/course-info.yaml
/course-remote-info.yaml
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1.1/executionHistory/executionHistory.lock
/.idea/.gitignore
/.idea/externalDependencies.xml
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.1.1/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/7.1.1/dependencies-accessors/gc.properties
/.gradle/7.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__com_beust_jcommander_1_78.xml
/.idea/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_11_1.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_3_9_2.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_junit_3_9_2.xml
/.idea/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.idea/modules/JSON_Database.iml
/.idea/modules/JSON Database/task/JSON_Database.JSON_Database-task.iml
/.idea/modules/JSON Database/task/JSON_Database.JSON_Database-task.main.iml
/.idea/modules/JSON Database/task/JSON_Database.JSON_Database-task.test.iml
/.idea/modules/util/JSON_Database.util.main.iml
/.idea/modules/util/JSON_Database.util.iml
/.gradle/7.1.1/fileChanges/last-build.bin
/.gradle/7.1/fileChanges/last-build.bin
/JSON Database/task/test/JsonDatabaseTest.java
/JSON Database/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/JSON Database/task/src/client/Main.java
/.idea/modules/util/JSON_Database.util.test.iml
/.idea/runConfigurations.xml
/.idea/frameworkLessonHistory/storage.storageData
/JSON Database/Network connection/task.html
/.idea/misc.xml
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/.idea/modules.xml
/JSON Database/100-cell database/task.html
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/JSON Database/Complex keys/task.html
/JSON Database/Hello, JSON/task.html
/JSON Database/Multithreaded server/task.html
/JSON Database/Simple online database/task.html
/JSON Database/Complex keys/task-info.yaml
/JSON Database/100-cell database/task-info.yaml
/JSON Database/Hello, JSON/task-info.yaml
/JSON Database/Simple online database/task-info.yaml
/JSON Database/Multithreaded server/task-info.yaml
/JSON Database/Network connection/task-info.yaml
/JSON Database/Hello, JSON/task-remote-info.yaml
/JSON Database/Multithreaded server/task-remote-info.yaml
/JSON Database/Simple online database/task-remote-info.yaml
/JSON Database/Complex keys/task-remote-info.yaml
/JSON Database/Network connection/task-remote-info.yaml
/JSON Database/100-cell database/task-remote-info.yaml
/.idea/vcs.xml
/JSON Database/task/out/production/classes/server/Arraycreator.class
/.gradle/7.1.1/executionHistory/executionHistory.bin
/.gradle/7.1.1/fileHashes/fileHashes.bin
/JSON Database/task/out/production/classes/client/Main.class
/JSON Database/task/out/production/classes/server/Main.class
/.gradle/buildOutputCleanup/outputFiles.bin
/JSON Database/task/out/production/classes/client/StatusGetter.class
/.idea/uiDesigner.xml
/JSON Database/task/out/production/classes/server/methods/ArrayCleaner.class
/JSON Database/task/out/production/classes/server/array/ArrayController.class
/JSON Database/task/out/production/classes/server/methods/ArrayGetter.class
/JSON Database/task/out/production/classes/server/methods/ArraySetter.class
/JSON Database/task/out/production/classes/server/request/ClientDataAnalyzer.class
/JSON Database/task/out/production/classes/server/request/RequestAnalyzer.class
/JSON Database/task/build/classes/java/main/server/methods/ArrayCleaner.class
/JSON Database/task/build/classes/java/test/ArrayCleanerTest.class
/JSON Database/task/build/reports/tests/test/classes/ArrayCleanerTest.html
/JSON Database/task/build/classes/java/main/server/array/ArrayController.class
/JSON Database/task/build/classes/java/main/server/methods/ArrayGetter.class
/JSON Database/task/build/classes/java/test/ArrayGetterTest.class
/JSON Database/task/build/classes/java/main/server/methods/ArraySetter.class
/JSON Database/task/build/classes/java/test/ArraySetterTest.class
/JSON Database/task/build/reports/tests/test/css/base-style.css
/JSON Database/task/build/classes/java/main/server/request/ClientDataAnalyzer.class
/JSON Database/task/build/reports/tests/test/packages/default-package.html
/JSON Database/task/build/reports/tests/test/index.html
/JSON Database/task/build/tmp/test/jar_extract_1425490259335349995_tmp
/JSON Database/task/build/tmp/test/jar_extract_3956361283713092255_tmp
/JSON Database/task/build/tmp/test/jar_extract_4009174457725763368_tmp
/JSON Database/task/build/tmp/test/jar_extract_4308321973379244027_tmp
/JSON Database/task/build/tmp/test/jar_extract_7782921558087901017_tmp
/JSON Database/task/build/tmp/test/jar_extract_9361564828179808630_tmp
/JSON Database/task/build/tmp/test/jar_extract_11137505873220309221_tmp
/JSON Database/task/build/tmp/test/jar_extract_12717917163989484454_tmp
/JSON Database/task/build/tmp/test/jar_extract_14122716729866650526_tmp
/JSON Database/task/build/tmp/test/jar_extract_15286972759389932618_tmp
/JSON Database/task/build/tmp/test/jar_extract_18013722749703099108_tmp
/JSON Database/task/build/classes/java/test/JsonDatabaseTest.class
/JSON Database/task/build/classes/java/main/client/Main.class
/JSON Database/task/build/classes/java/main/server/Main.class
/JSON Database/task/build/test-results/test/binary/output.bin
/JSON Database/task/build/test-results/test/binary/output.bin.idx
/JSON Database/task/build/tmp/compileJava/previous-compilation-data.bin
/JSON Database/task/build/tmp/compileTestJava/previous-compilation-data.bin
/JSON Database/task/build/reports/tests/test/js/report.js
/JSON Database/task/build/classes/java/main/server/request/RequestAnalyzer.class
/.gradle/7.1.1/fileHashes/resourceHashesCache.bin
/JSON Database/task/build/test-results/test/binary/results.bin
/JSON Database/task/build/classes/java/main/client/StatusGetter.class
/JSON Database/task/build/reports/tests/test/css/style.css
/JSON Database/task/build/test-results/test/TEST-ArrayCleanerTest.xml
/JSON Database/task/build/classes/java/test/ArrayControllerTest.class
/JSON Database/task/build/reports/tests/test/classes/ArrayControllerTest.html
/JSON Database/task/build/tmp/test/jar_extract_7097758788981453731_tmp
/JSON Database/task/build/tmp/test/jar_extract_10731455533573195773_tmp
/JSON Database/task/build/test-results/test/TEST-ArrayControllerTest.xml
/JSON Database/task/build/classes/java/test/ClientDataAnalyzerTest.class
/JSON Database/task/build/reports/tests/test/classes/ClientDataAnalyzerTest.html
/JSON Database/task/build/tmp/test/jar_extract_174693521355889630_tmp
/JSON Database/task/build/tmp/test/jar_extract_350349540767723217_tmp
/JSON Database/task/build/tmp/test/jar_extract_663411716372807266_tmp
/JSON Database/task/build/tmp/test/jar_extract_980021792047191621_tmp
/JSON Database/task/build/tmp/test/jar_extract_2700697849917531427_tmp
/JSON Database/task/build/tmp/test/jar_extract_2770052908847270189_tmp
/JSON Database/task/build/tmp/test/jar_extract_3018883488629357774_tmp
/JSON Database/task/build/tmp/test/jar_extract_3566424062564667435_tmp
/JSON Database/task/build/tmp/test/jar_extract_4039034890230983295_tmp
/JSON Database/task/build/tmp/test/jar_extract_4636036993474875922_tmp
/JSON Database/task/build/tmp/test/jar_extract_4752793577676631346_tmp
/JSON Database/task/build/tmp/test/jar_extract_6170382871033510642_tmp
/JSON Database/task/build/tmp/test/jar_extract_6185400810801071828_tmp
/JSON Database/task/build/tmp/test/jar_extract_6364012454002319645_tmp
/JSON Database/task/build/tmp/test/jar_extract_8054123334970407856_tmp
/JSON Database/task/build/tmp/test/jar_extract_8312821396323592709_tmp
/JSON Database/task/build/tmp/test/jar_extract_8682587314823771110_tmp
/JSON Database/task/build/tmp/test/jar_extract_8821021882933538534_tmp
/JSON Database/task/build/tmp/test/jar_extract_9687336237159687642_tmp
/JSON Database/task/build/tmp/test/jar_extract_10017575703530189485_tmp
/JSON Database/task/build/tmp/test/jar_extract_11269436569252553534_tmp
/JSON Database/task/build/tmp/test/jar_extract_12143789212994130596_tmp
/JSON Database/task/build/tmp/test/jar_extract_13784160632540237406_tmp
/JSON Database/task/build/tmp/test/jar_extract_14636406655851941469_tmp
/JSON Database/task/build/tmp/test/jar_extract_15132825835509262230_tmp
/JSON Database/task/build/tmp/test/jar_extract_15840470151504450687_tmp
/JSON Database/task/build/tmp/test/jar_extract_16716237377796561977_tmp
/JSON Database/task/build/tmp/test/jar_extract_17823850914580498151_tmp
/JSON Database/task/build/test-results/test/TEST-ClientDataAnalyzerTest.xml
/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_4_26.xml
/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_agent_1_4_26.xml
/.idea/libraries/Gradle__org_mockito_mockito_core_2_1_0.xml
/.idea/libraries/Gradle__org_objenesis_objenesis_2_4.xml
/JSON Database/task/build/tmp/test/jar_extract_6092014927729766313_tmp
/JSON Database/task/build/tmp/test/jar_extract_6210172143368075532_tmp
/JSON Database/task/build/tmp/test/jar_extract_6324655517430764159_tmp
/JSON Database/task/build/tmp/test/jar_extract_7575361689549018422_tmp
/JSON Database/task/build/tmp/test/jar_extract_8664622861270643104_tmp
/JSON Database/task/build/tmp/test/jar_extract_8686616426981303675_tmp
/JSON Database/task/build/tmp/test/jar_extract_8768708728442461977_tmp
/JSON Database/task/build/tmp/test/jar_extract_10762584705896616676_tmp
/JSON Database/task/build/tmp/test/jar_extract_11428057432332759851_tmp
/JSON Database/task/build/tmp/test/jar_extract_12697988343044076547_tmp
/JSON Database/task/build/tmp/test/jar_extract_14886798279908701778_tmp
/JSON Database/task/build/tmp/test/jar_extract_16037350065982800671_tmp
/JSON Database/task/build/tmp/test/jar_extract_17852787796555012090_tmp
/JSON Database/task/build/classes/java/test/RequestAnalyzerTest.class
/JSON Database/task/build/reports/tests/test/classes/RequestAnalyzerTest.html
/JSON Database/task/build/test-results/test/TEST-RequestAnalyzerTest.xml
/JSON Database/task/build/tmp/test/jar_extract_1772232067053252641_tmp
/JSON Database/task/build/tmp/test/jar_extract_4478265285514741832_tmp
/JSON Database/task/build/tmp/test/jar_extract_5224034685205238640_tmp
/JSON Database/task/build/tmp/test/jar_extract_6687192755015612407_tmp
/JSON Database/task/build/tmp/test/jar_extract_12431386208106482587_tmp
/JSON Database/task/build/tmp/test/jar_extract_12437833157408963737_tmp
/JSON Database/task/build/tmp/test/jar_extract_13057267203395128487_tmp
/JSON Database/task/build/tmp/test/jar_extract_16298416142424066098_tmp
/JSON Database/task/build/tmp/test/jar_extract_17826680891585148344_tmp
/JSON Database/task/build/tmp/test/jar_extract_3816696186335354383_tmp
/JSON Database/task/build/tmp/test/jar_extract_4102213293721990479_tmp
/JSON Database/task/build/tmp/test/jar_extract_6654537240287100668_tmp
/JSON Database/task/build/tmp/test/jar_extract_11498995908585450238_tmp
/JSON Database/task/build/tmp/test/jar_extract_13870853207309159323_tmp
/JSON Database/task/build/tmp/test/jar_extract_17620652232339827820_tmp
/JSON Database/task/build/tmp/test/jar_extract_18032288408451100671_tmp
/JSON Database/task/build/reports/tests/test/classes/JsonDatabaseTest.html
/JSON Database/task/build/classes/java/test/MainGetRequestTest.class
/JSON Database/task/build/test-results/test/TEST-JsonDatabaseTest.xml
/JSON Database/task/build/tmp/test/jar_extract_786100298192854697_tmp
/JSON Database/task/build/tmp/test/jar_extract_16215515894972901450_tmp
/JSON Database/task/build/tmp/test/jar_extract_93427944216922335_tmp
/JSON Database/task/build/tmp/test/jar_extract_642647612587083830_tmp
/JSON Database/task/build/tmp/test/jar_extract_1801151995559405885_tmp
/JSON Database/task/build/tmp/test/jar_extract_2353112157620729830_tmp
/JSON Database/task/build/tmp/test/jar_extract_2693192516163510489_tmp
/JSON Database/task/build/tmp/test/jar_extract_2863831560091977006_tmp
/JSON Database/task/build/tmp/test/jar_extract_6962092278869841922_tmp
/JSON Database/task/build/tmp/test/jar_extract_8211563644301522117_tmp
/JSON Database/task/build/tmp/test/jar_extract_8711529193099880962_tmp
/JSON Database/task/build/tmp/test/jar_extract_10153516499743220345_tmp
/JSON Database/task/build/tmp/test/jar_extract_11378827561862134347_tmp
/JSON Database/task/build/tmp/test/jar_extract_12495851651712439265_tmp
/JSON Database/task/build/tmp/test/jar_extract_16126386521979869034_tmp
/JSON Database/task/build/tmp/test/jar_extract_17455473242197071118_tmp
/JSON Database/task/build/classes/java/test/ClientRequestAnalyzer.class
/JSON Database/task/build/reports/tests/test/classes/ClientRequestAnalyzer.html
/JSON Database/task/build/tmp/test/jar_extract_125192227086771795_tmp
/JSON Database/task/build/tmp/test/jar_extract_387046643545684794_tmp
/JSON Database/task/build/tmp/test/jar_extract_538711241404461123_tmp
/JSON Database/task/build/tmp/test/jar_extract_1233912535763616273_tmp
/JSON Database/task/build/tmp/test/jar_extract_1544397280841113747_tmp
/JSON Database/task/build/tmp/test/jar_extract_1865315227985531676_tmp
/JSON Database/task/build/tmp/test/jar_extract_1934301155902372328_tmp
/JSON Database/task/build/tmp/test/jar_extract_3806170843875243950_tmp
/JSON Database/task/build/tmp/test/jar_extract_5096224605898567675_tmp
/JSON Database/task/build/tmp/test/jar_extract_5274218748813358286_tmp
/JSON Database/task/build/tmp/test/jar_extract_5568802920503785553_tmp
/JSON Database/task/build/tmp/test/jar_extract_6649032617910807098_tmp
/JSON Database/task/build/tmp/test/jar_extract_7306963050268195461_tmp
/JSON Database/task/build/tmp/test/jar_extract_8957917327389313786_tmp
/JSON Database/task/build/tmp/test/jar_extract_9162822812096157493_tmp
/JSON Database/task/build/tmp/test/jar_extract_9273646533947424140_tmp
/JSON Database/task/build/tmp/test/jar_extract_10513780728749441427_tmp
/JSON Database/task/build/tmp/test/jar_extract_10589796933193659247_tmp
/JSON Database/task/build/tmp/test/jar_extract_10952525657995457413_tmp
/JSON Database/task/build/tmp/test/jar_extract_13206779610970837774_tmp
/JSON Database/task/build/tmp/test/jar_extract_13232542426076649507_tmp
/JSON Database/task/build/tmp/test/jar_extract_14408523764567567867_tmp
/JSON Database/task/build/tmp/test/jar_extract_15490730508015238463_tmp
/JSON Database/task/build/tmp/test/jar_extract_15557063658629230917_tmp
/JSON Database/task/build/tmp/test/jar_extract_15599333958545424602_tmp
/JSON Database/task/build/tmp/test/jar_extract_16118597073735879347_tmp
/JSON Database/task/build/tmp/test/jar_extract_16125325035618311705_tmp
/JSON Database/task/build/tmp/test/jar_extract_16623853907605306386_tmp
/JSON Database/task/build/tmp/test/jar_extract_17075592349775588349_tmp
/JSON Database/task/build/tmp/test/jar_extract_17925659812059656786_tmp
/JSON Database/task/build/tmp/test/jar_extract_17938117904702472099_tmp
/JSON Database/task/build/tmp/test/jar_extract_18247927695616841973_tmp
/JSON Database/task/build/classes/java/main/client/request/RequestAnalyzer.class
/JSON Database/task/build/classes/java/main/client/request/RequestModifier.class
/JSON Database/task/out/production/classes/server/request/RequestModifier.class
/JSON Database/task/build/classes/java/test/RequestModifierTest.class
/JSON Database/task/build/classes/java/main/client/request/StatusGetter.class
/JSON Database/task/out/production/classes/client/request/StatusGetter.class
/JSON Database/task/build/test-results/test/TEST-ClientRequestAnalyzer.xml
/JSON Database/task/out/production/classes/client/request/RequestAnalyzer.class
/JSON Database/task/out/production/classes/client/request/RequestModifier.class
/JSON Database/task/build/tmp/test/jar_extract_680372255232560467_tmp
/JSON Database/task/build/tmp/test/jar_extract_1313403099825703389_tmp
/JSON Database/task/build/tmp/test/jar_extract_3519410273151086005_tmp
/JSON Database/task/build/tmp/test/jar_extract_3707296632523372459_tmp
/JSON Database/task/build/tmp/test/jar_extract_3817871124258642322_tmp
/JSON Database/task/build/tmp/test/jar_extract_13496247987188970280_tmp
/JSON Database/task/build/tmp/test/jar_extract_17944954357339747771_tmp
/JSON Database/task/build/classes/java/test/StatusGetterTest.class
/JSON Database/task/build/reports/tests/test/classes/StatusGetterTest.html
/JSON Database/task/build/test-results/test/TEST-StatusGetterTest.xml
/JSON Database/task/build/tmp/test/jar_extract_622273299492059568_tmp
/JSON Database/task/build/tmp/test/jar_extract_854780624283235463_tmp
/JSON Database/task/build/tmp/test/jar_extract_3695066447668650829_tmp
/JSON Database/task/build/tmp/test/jar_extract_6137478457370661142_tmp
/JSON Database/task/build/tmp/test/jar_extract_6261191100565400684_tmp
/JSON Database/task/build/tmp/test/jar_extract_7669760459344642457_tmp
/JSON Database/task/build/tmp/test/jar_extract_8722721118145691738_tmp
/JSON Database/task/build/tmp/test/jar_extract_8728635909542257928_tmp
/JSON Database/task/build/tmp/test/jar_extract_9582094019165479081_tmp
/JSON Database/task/build/tmp/test/jar_extract_10761737325419352712_tmp
/JSON Database/task/build/tmp/test/jar_extract_11846189902538689471_tmp
/JSON Database/task/build/tmp/test/jar_extract_13722817466699444616_tmp
/JSON Database/task/build/tmp/test/jar_extract_14968334644086068659_tmp
/JSON Database/task/build/tmp/test/jar_extract_15005068307792574441_tmp
/JSON Database/task/build/tmp/test/jar_extract_16971582535643327288_tmp
/JSON Database/task/build/reports/tests/test/classes/RequestModifierTest.html
/JSON Database/task/build/test-results/test/TEST-RequestModifierTest.xml
/JSON Database/task/build/tmp/test/jar_extract_1297463699262673043_tmp
/JSON Database/task/build/tmp/test/jar_extract_2913745595569604447_tmp
/JSON Database/task/build/tmp/test/jar_extract_8756263616620721335_tmp
/JSON Database/task/build/tmp/test/jar_extract_10671815177310951466_tmp
/JSON Database/task/build/tmp/test/jar_extract_11111031846569809914_tmp
/JSON Database/task/build/tmp/test/jar_extract_13755956251757231229_tmp
/JSON Database/task/build/tmp/test/jar_extract_14485434886713436836_tmp
/JSON Database/task/build/tmp/test/jar_extract_14923913527573918615_tmp
/JSON Database/task/build/tmp/test/jar_extract_15919348719876826402_tmp
